@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");


body{
	background-color: lightgrey;

	font-family: 'Inspiration', cursive;
}
  
.container{
	margin: auto;
	background-color: white;
	margin-top: 10px;
	width: 95%;
	
	padding: 30px;
}
  
ul, li {
    padding: 0;
	margin: 0;
	list-style: none;
}
  
ul.slider{
	position: relative;
	width: 800px;
	height: 300px;
}
  
ul.slider li {
    position: absolute;
	left: 0px;
	top: 0px;
	opacity: 0;
	width: inherit;
	height: inherit;
	transition: opacity .5s;
	background:#fff;
}
  
  ul.slider li img{
	width: 100%;
	height: 300px;
	object-fit: cover;
	
}

  
.container input {
	position: absolute;
	top: 0;
	left: 0;
	width: 600px; /* just cover visible part */
	height: 100%;
	cursor: pointer;
	border: 0;
	padding: 0;
    opacity: 0;
	z-index: 100;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.container input:checked{
	width: 5px;
	left: auto;
	right: 0px;
}
.container input:checked ~ figure {
    left: 335px;
    transition: all 0.7s ease-in-out;
}

.container figcaption {
	width: 100%;
	height: 100%;
	background: rgba(87, 73, 81, 0.1);
	position: absolute;
	top: 0px;
    transition: all 0.2s linear;
}

.container figcaption span {
	position: absolute;
	top: 40%;
	margin-top: -30px;
	right: 20px;
	left: 20px;
	overflow: hidden;
	text-align: center;
	background: rgba(87, 73, 81, 0.3);
	line-height: 20px;
	font-size: 18px;
    opacity: 0;
	text-transform: uppercase;
	letter-spacing: 4px;
	font-weight: 700;
	padding: 20px;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
} 

.container input:checked + figcaption,
.container input:checked:hover + figcaption{
	background: rgba(87, 73, 81, 0);
}

.container input:checked + figcaption span {
    transition: all 0.4s ease-in-out 0.5s;
	opacity: 1;
	top: 50%;
}

.container #ultimo:checked + figcaption span {
	transition-delay: 0.3s;
}

.container input:hover + figcaption {
	background: rgba(87, 73, 81, 0.03);
}

.container input:checked ~ figure input{
    z-index: 1;
}
  
  ul.slider li:first-child {
	  opacity: 1; /*Mostramos el primer <li>*/
  }
  
  ul.slider li:target {
	  opacity: 1; /*Mostramos el <li> del enlace que pulsemos*/
  }
  
  .menu{
	text-align: center;
	margin: 20px;
  }
  
  .menu li{
	display: inline-block;
	text-align: center;
  }
  
  .menu li a{
	display: inline-block;
	color: white;
	text-decoration: none;
	background-color: grey;
	padding: 10px;
	width: 20px;
	height: 20px;
	font-size: 20px;
	border-radius: 100%;
  }


