@import url('https://fonts.googleapis.com/css2?family=Inspiration&family=Mr+Dafoe&family=Nothing+You+Could+Do&family=Yellowtail&display=swap');


body{
	background-color: rgba(32,129,245);

    font-family: 'Nothing You Could Do', cursive;
}
  
.container{
	margin: auto;
	background-color: rgba(255,167,36);
	margin-top: 10px;
	width: 95%;
	padding: 30px;
}
  
ul, li {
    padding: 0;
	margin: 0;
	list-style: none;
}
  
ul.slider{
	position: relative;
	width: 1820px;
	height: 650px;
}
  
ul.slider li {
    position: absolute;
	left: 0px;
	top: 0px;
	opacity: 0;
	width: inherit;
	height: inherit;
	transition: opacity .5s;
	background:#fff;
}
  
  ul.slider li img{
	border-radius: 10px;
	width: 100%;
	height: 650px;
	object-fit: cover;
	
}

  
.container input {
	position: absolute;
	top: 0;
	left: 0;
	width: 1820px; 
	height: 650px;
	cursor: pointer;
	border: 0;
	padding: 0;
    opacity: 0;
	z-index: 100;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.container input:checked{
	width: 5px;
	left: auto;
	right: 0px;
}
.container input:checked ~ figure {
    left: 335px;
    transition: all 0.7s ease-in-out;
}

.container figcaption {
	border-radius: 4px;
	width: 100%;
	height: 100%;
	background: rgba(87, 73, 81, 0.1);
	position: absolute;
	top: 0px;
    transition: all 0.2s linear;
}

.container figcaption span {
	border-radius: 4px;
	position: absolute;
	top: 40%;
	margin-top: -30px;
	right: 20px;
	left: 20px;
	overflow: hidden;
	text-align: center;
	background: rgba(87, 73, 81, 0.5);
	line-height: 80px;
	font-size:70px;
    opacity: 0;
	text-transform: uppercase;
	letter-spacing: 4px;
	word-spacing: 10px;
	font-weight: 700;
	padding: 20px;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
} 

.slider a{
	font-size:32px;
	word-spacing: 0.01px;
}

.container input:checked + figcaption,
.container input:checked:hover + figcaption{
	background: rgba(87, 73, 81, 0);
}

.container input:checked + figcaption span {
    transition: all 0.4s ease-in-out 0.5s;
	opacity: 1;
	top: 50%;
}

.container #ultimo:checked + figcaption span {
	transition-delay: 0.3s;
}

.container input:hover + figcaption {
	background: rgba(87, 73, 81, 0.03);
}

.container input:checked ~ figure input{
    z-index: 1;
}
  
  ul.slider li:first-child {
	  opacity: 1; 
  }
  
  ul.slider li:target {
	  opacity: 1; 
  }
  
  .menu{
	text-align: center;
	margin: 20px;
  }
  
  .menu li{
	display: inline-block;
	text-align: center;
  }
  
  .menu li a{
	display: inline-block;
	color: white;
	text-decoration: none;
	background-color: grey;
	margin-left: 50px;
	padding: 1px;
	width: 20px;
	height: 20px;
	font-size: 20px;
	border-radius: 100%;
  }