<!DOCTYPE html>
 <html lang="en">
<head>
    <meta charset="UTF-8"> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" media="all" href="./static/css/nav.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.0.0/css/all.css" integrity="sha384-3B6NwesSXE7YJlcLI9RpRqGf2p/EgVH8BgoKTaUrmKNDkHPStTQ3EyoYjCGXaOTS" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/42effbf0cd.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <header>
        <a href="/" class=logo>
           <img src="./static/logo.png"alt="company logo" class="logo-img">
           <p class="logo-nombre">Perú</p> 
        </a>
        <nav>
            <a href="/" class="link">Inicio</a>
            <a href="/estadisticas.html" class="link">Curiosidades</a>
            <a href="/contacto.html" class="link">Contacto</a>
            <a href="/mensaje.html" class="link">mensajes</a>
        </nav>
    </header>
    {% block contents %}{% endblock %}
</body>
</html>