{% extends './base.html' %}

{% block title %}Curiosidades{% endblock %}

{% block contents %}
    <link rel="stylesheet" href="./static/css/esta.css">
    <script src="https://kit.fontawesome.com/42effbf0cd.js" crossorigin="anonymous"></script>
    <div class="contenedor">
        <script src="https://kit.fontawesome.com/42effbf0cd.js" crossorigin="anonymous"></script>
        <div class="carta">
            <div class="carta-img1">    
            </div>
            <div class="carta-titulo">
                <h2>Economia</h2>
                <p>La economía del Perú es la quinta mayor economía de América Latina​ en términos de (PIB)  nominal y tradicionalmente ha sido un reflejo de su geografía.</p>
            </div>
            <div class="carta-proyectos-link">
                
            </div>
            <div class="detalles-proyecto-contenido">
                <button class="detalles-proyecto descargar-cv">
                    <a href="https://gestion.pe/noticias/economia-peruana/">
                        <i class="fa-solid fa-circle-dollar-to-slot"></i>
                    </a>
                </button>
            </div>
        </div>
        <div class="carta">
            <div class="carta-img2">    
            </div>
            <div class="carta-titulo">
                <h2>Turismo</h2>
                <p>Durante el período enero-marzo de 2021, el sector turismo y hotelería recaudó S/ 242 millones en tributos, un 37.3% menos que lo recaudado entre enero y marzo de 2020.</p>
            </div>
            <div class="carta-proyectos-link">
    
            </div>
            <div class="detalles-proyecto-contenido">
                <button class="detalles-proyecto descargar-cv">
                    <a href="https://www.getyourguide.es/-l168997/?cmp=ga&cq_src=google_ads&cq_cmp=16370956953&cq_con=132567221006&cq_term=lugares%20tur%C3%ADsticos%20en%20per%C3%BA&cq_med=&cq_plac=&cq_net=g&cq_pos=&cq_plt=gp&campaign_id=16370956953&adgroup_id=132567221006&target_id=kwd-313828753802&loc_physical_ms=1012108&match_type=e&ad_id=585513541390&keyword=lugares%20tur%C3%ADsticos%20en%20per%C3%BA&ad_position=&feed_item_id=&placement=&device=c&partner_id=CD951&gclid=CjwKCAjwiuuRBhBvEiwAFXKaNBlXI8axLzt4YOHCnY6s6dFbBUbuQw-xejiDuEAOzERRhtHWtolfLhoCh5wQAvD_BwE">
                        <i class="fa-solid fa-plane"></i>
                    </a>
                </button>
            </div>
        </div>  
        <div class="carta">
            <div class="carta-img4">    
            </div>
            <div class="carta-titulo">
                <h2>Historia</h2>
                <p>Perú es un país de Sudamérica que abarca una sección del bosque del Amazonas y Machu Picchu, una antigua ciudad inca en las alturas de los Andes.</p>
            </div>
            <div class="carta-proyectos-link">

            </div>
            <div class="detalles-proyecto-contenido">
                <button class="detalles-proyecto descargar-cv">
                    <a href="https://www.donquijote.org/es/cultura-peruana/historia/#:~:text=La%20historia%20de%20Per%C3%BA%20se,seis%20m%C3%A1s%20antiguas%20del%20mundo.">
                        <i class="fa-solid fa-book-open"></i>
                    </a>
                </button>
            </div>
        </div>
    </div>


{% endblock %}
