{% extends './base.html' %}

{% block title %}home pagge{% endblock %}

{% block contents %}
<div class="contenedor">
    <link rel="stylesheet" href="./static/css/carru.css">				
	<figure>
		<img src="static/machu.jpg" alt="image01" />
		<input type="radio" name="radio-set" checked="checked" />
		<figcaption><span>Machu Picchu</span></figcaption>
		
		<figure>
			<img src="static/lineas.jpg" alt="image02" />
			<input type="radio" name="radio-set" />
			<figcaption><span>Lineas de Nasca</span></figcaption>
			
			<figure>
				<img src="static/llamas.jpg" alt="image02" />
			    <input type="radio" name="radio-set" />
			    <figcaption><span>Llamas</span></figcaption>
				
				<figure>
					<img src="static/chan.jpg" alt="image02" />
			        <input type="radio" name="radio-set" />
			        <figcaption><span>Chan chan</span></figcaption>
					
					<figure>
						<img src="static/cañon.jpg" alt="image02" />
			            <input type="radio" name="radio-set" />
			            <figcaption><span>Cañon de colca</span></figcaption>
						
						<figure>
							<img src="static/salca.jpg" alt="image02" />
			                <input type="radio" name="radio-set" />
			                <figcaption><span>Salcantay</span></figcaption>
				
							<figure>
								<img src="static/cusco.jpg" alt="image02" />
			                    <input type="radio" name="radio-set" />
			                    <figcaption><span>Cusco</span></figcaption>										

							</figure>
				
						</figure>	
							
					</figure>	
						
				</figure>
					
			</figure>
			
		</figure>
		
	</figure>	
</div>
{% endblock %}


